body {
	background-color: #9BC1BC;
	font-family: 'Lato', serif;
}

@keyframes fadein{
	from {opacity: 0;}
	to {opacity: 1;}

}

#mainScreen{
	padding-top: 5%;
}

#mainScreen .row h3{
	font-weight: 300;
	font-size: 6vh;
	font-family: 'Lato', serif;
	color: #E6EBE0;
	padding-top: 12%;
	text-align: center;
	animation-name: fadein;
	animation-duration: 3s;
}
#mainScreen .row p{
	font-weight: 300;
	font-style: italic;
	font-size: 2vh;
	font-family: 'Lato', serif;
	color: #E6EBE0;
	text-align: center;
	animation-name: fadein;
	animation-duration: 3s;
}

#mainScreen .row img{
	border-radius: 50%;
	height: 30vh;
	width: 30vh;
	border-style: solid;
	border-width: 2px;
	border-color: #E6EBE0;
	margin-top: 10%;
	animation-name: fadein;
	animation-duration: 3s;
	margin-left: auto;
	margin-right: auto;
	display: block;

}

#mainScreen .col-xs{
}
.header {
	position: absolute;
	background-color: inherit;
	right: 0;
	top: 0;
	left: 0;
	height: 15%;
	min-height: 70px;
	max-height: 100px;
}
.header .headerLeft{
	height: 100%;
	position: absolute;
}
.header .navigationColumn {
	position: fixed;
	padding: 0;
	right: 0;

}

.header .btn {
	padding: 20% 0;
	min-height: 80px;
	max-height: 100px;
	background-color: inherit;
	border-style: none;
	border-radius: 0;
}
.header button:hover{
	background-color: #BFD7D4;
}

.header .btn p{
	margin: 0;
	font-size: 2vh;
	color: #291F1E;
}

.footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: #5CA4A9;
	text-align: center;
}
.footer p {
	color: #E6EBE0;
	margin: 0;
}

.footer .fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: #E6EBE0;
}

.footer .row {
	width:100%;
	margin-left: 0;
}

